*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/* || BACKGROUND BODY || */
/* - Setting margins on either side of the screen to keep neat order throught the site - */
/* - Excluding "NAVIGATION BAR" to enable full screen width on drop down bar - */

.full__body {
    background-color: #252525;
    height: 150rem;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

/* || NAVIGATION BAR || */
/* -  - */

.square {
    width: 40px;
    height: 40px;
    border: 4px solid aqua;
    margin: 20px;
    align-content: center;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    z-index: 10;
    border-radius: 5px;
    
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
    animation-timing-function: linear;
}

.square__small {
    width: 20px;
    height: 20px;
    border: 4px solid aqua;
    justify-self: center;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    z-index: 10;
    border-radius: 5px;
    
    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
    animation-timing-function: linear;
    animation-direction: reverse;
}

/* .square:hover {
    /* animation-play-state: running; */
    /* animation-direction: reverse;
} */

@keyframes spin {
    0% {

    }

    100% {
        rotate: 360deg;
    }

}

/* BIG VERSIONS -- COMING SOON PAGE */

.square__big {
    width: 200px;
    height: 200px;
    border: 4px solid aqua;
    align-content: center;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    z-index: 10;
    border-radius: 8px;
    
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
    animation-timing-function: linear;
}

.square__big__small {
    width: 150px;
    height: 150px;
    border: 4px solid aqua;
    justify-self: center;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    z-index: 10;
    border-radius: 15px;
    
    animation-name: spin;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
    animation-timing-function: linear;
    animation-direction: reverse;
}











.logo__badge {
    align-items: center;
    display: flex;
    text-align: center;
}

.navbar {
    align-items: center;
    background: #252525;
    display: flex;
    font-size: 1.2rem;
    height: 80px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav__container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 50px;
    width: 100%;
    z-index: 1;
}

#nav__logo {
    align-items: center;
    background-color: #06ac9e;
    background-image: linear-gradient(to top, #cbfdf9 0%, #007e74 100%);
    background-size: 100%;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    -moz-background-clip: text;
    -moz-text-fill-colour: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-gem {
    margin-right: 0.5rem;
}

/* || OLD CODE || */

/*

.mid {
    background-color: #474749;
    width: 100%;
    height: 100rem;
}

*/

.nav__menu {
    align-items: center;
    display: flex;
    list-style: none;
    text-align: center;
}

.nav__item {
    height: 80px;
}

.nav__links {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    text-decoration: none;
}

.nav__btn {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    align-items: center;
    background: #06ac9e;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
}

/* || NAVIGATION BAR - HOVER ANIMATIONS || */

.button:hover {
    background: #007e74;
    transition: all 0.3s ease;
}

.nav__links:hover {
    color: #007e74;
    transition: all 0.3s ease;
}

 /* || MOBILE MENU - NAVIGATION BAR || */

@media screen and (max-width: 960px) {

    .nav__container {
        display: flex;
        height: 80px;
        justify-content: space-between;
        max-width: 1800px;
        padding: 0;
        width: 100%;
        z-index: 1;
    }

    .nav__menu {
        display: grid;
        grid-template-columns: auto;
        height: 50vh;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        width: 100%;
        z-index: -1;
    }

    .nav__menu.active {
        background: #252525;
        font-size: 1.6rem;
        height: 50vh;
        opacity: 1;
        top: 100%;
        transition: all 0.5s ease;
        z-index: 99;
    }

    /* #nav__logo {
        padding-left: 25px;
    } */
    
    .nav__toggle .bar {
        background: #fff;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        width: 25px;
    }

    .nav__item {
        width: 100%;
    }

    .nav__links {
        display: table;
        padding: 2rem;
        text-align: center;
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        right: 5%;
        top: 20%;
        transform: translate(5%, 20%);
    }

    .nav__btn {
        padding-bottom: 2rem;
    }

    .button {
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: center;
        margin: 0;
        width: 80%;
    }

    .nav__toggle .bar {
        cursor: pointer;
        display: block;
    }
 
    /* - Animations with js for drop down nav bar */

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }     

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(0px, 8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(0px, -8px) rotate(-45deg);
    }
}

/* || HEADER || */

.header__container {
    justify-content: center;
    padding-top: 5rem;
}

.header__box {
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}


.main__header__holder {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* || MID - PROJECTS || */

.mid__body {
    align-content: center;
    justify-content: center;
    padding-top: 5rem;
}

.project__box__spacer {
    height: 100px;
    padding-top: 330px;
    width: 100%;
}

.project__box__container__balan {
    align-content: center;
    display: flex;
    justify-content: center;
}

.project__box__container {
    align-content: center;
    display: flex;
    max-width: 800px;
    justify-content: center;
}

/* .project__box__container {
    align-content: center;
    display: flex;
    justify-content: center;
} */

.project__box__options {
    background-color: #474749;
    border-radius: 5px;
    display: flex;
    height: 400px;
    margin: 10px;
    text-decoration: none;
    width: 250px;
}

.project__box__options:hover {
    background-color: #7a7a7d;
    height: 410px;
    margin: 5px;
    width: 260px;
    z-index: 101;
}


@media screen and (min-width: 950px) {
    .project__box__options:hover {
        background-color: #7a7a7d;
        height: 410px;
        margin: 5px;
        width: 260px;
        z-index: 101;
        
        animation-name: box-expand-middle;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
}

/* .project__box__options:hover {
    background-color: #7a7a7d;
    height: 410px;
    margin: 5px;
    width: 260px;
} */

@keyframes box-expand-middle {
    0% {
        width: 260px;   
    }

    100% {
        width: 800px;
    }
}



.project__box__selection__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project__box__options__selection {
    background-color: #474749;
    border-radius: 5px;
    display: flex;
    height: 200px;
    margin: 10px;
    width: 200px;
}

.project__box__options__selection:hover {
    background-color: #7a7a7d;
    height: 210px;
    margin: 5px;
    width: 210px;
}

/* || MID - INFO BOX || */

.summary__box {
    background-color: #474749;
    border-radius: 5px;
    display: flex;
    flex: 1 0 300px; 
    height: 410px;
    margin: 10px;
    max-width: 770px;
}

.summary__container {
    align-content: center;
    display: flex;
    justify-content: center;
}

/* || MOBILE MENU - MID PROJECT  || */

@media screen and (max-width: 960px) {
    
    .project__box__options {
        background-color: #474749;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        margin: 10px;
        min-width: 170px;
        width: 400px;
    }

    .project__box__options:hover {
        background-color: #7a7a7d;
        height: 210px;
        margin: 5px;
        width: 410px;
    }

    .project__box__spacer {
        height: 100px;
        padding-top: 140px;
        width: 100%;
    }

    .project__box__container {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 300px; 
        justify-content: center;
    }

    .project__box__options__selection:hover {
        background-color: #7a7a7d;
        height: 210px;
        margin: 5px;
        width: 210px;
    }

    .summary__box {
        background-color: #474749;
        border-radius: 5px;
        display: flex;
        flex: 1 0 170px; 
        height: 410px;
        margin: 10px;
        max-width: 400px;
    }
}

/* || TYPOLOGY || */


#small__text__size {
    align-items: center;
    background-color: #06ac9e;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}

#big__text__size {
    align-items: center;
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 4rem;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}

#medium__text__size {
    align-items: center;
    background-color: #06ac9e;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}

/* #big__text__size:hover {
    background-color: aqua;
    transition: all 3s ease-in-out;
} */

#optboxlink {
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}


@media screen and (max-width: 960px) {
    #big__text__size {
        align-items: center;
        background-color: #fff;
        background-image: #fff;
        background-size: 100%;
        display: flex;
        font-size: 4rem;
        justify-content: center;
        text-decoration: none;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-colour: transparent;
    }
}