*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
}

:root {
    /* Fonts */
    font-size: 20px;
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;

    /* FONT LANDING PAGE */
    --ff: "Inter", sans-serif;
    --h1: bold 4rem/1em var(--ff); 
    --h2: bold 3rem/1.2em var(--ff); 
    --h3: bold 2.25rem/1.2em var(--ff); 
    --h4: bold 1.5rem/1.6em var(--ff); 
    --h5: bold 1rem/1.6em var(--ff); 
    --big: 1.25/1.6 var(--ff);
    --p: 1.25/1.6 var(--ff);
    --small: 1.25/1.6 var(--ff);
    
    /* FONT UI */
    --h1ui: 4rem/1em var(--ff); 
    --h2ui: 3rem/1.2em var(--ff); 
    --h3ui: 2.25rem/1.2em var(--ff); 
    --h4ui: 1.5rem/1.6em var(--ff); 
    --h5ui: 1rem/1.6em var(--ff); 
    --bigui: 1/1.6 var(--ff);
    --pui: .8/1.6 var(--ff);
    --smallui: .75/1.8 var(--ff);

        /* Colors */
    /* GREY */
    --grey10: hsl(0, 0%, 10%);
    --grey30: hsl(0, 0%, 30%);
    --grey50: hsl(0, 0%, 50%);
    --grey70: hsl(0, 0%, 70%);
    --grey80: hsl(0, 0%, 80%);
    --grey90: hsl(0, 0%, 90%);

    /* BLUE */
    --blue10: hsl(175, 93%, 10%);
    --blue35: hsl(175, 93%, 35%);
    --blue30: hsl(175, 93%, 30%);
    --blue50: hsl(175, 93%, 50%);
    --blue70: hsl(175, 93%, 70%);
    --blue90: hsl(175, 93%, 90%);

        /* Gradient Colours */
    --gradient: linear-gradient(90deg, rgba(37, 37, 37, 1) 0%, rgba(51, 76, 79, 1) 40%, rgba(51, 76, 79, 1) 60%, rgba(37, 37, 37, 1) 100%);
    --boxshadow10: 0 0 2px hsl(240, 1%, 10%);
    --boxshadow30: 0 0 2px hsl(240, 1%, 30%);
    --boxshadow50: 0 0 2px hsl(240, 1%, 50%);
    --boxshadow70: 0 0 2px hsl(240, 1%, 70%);
    --boxshadow90: 0 0 2px hsl(240, 1%, 90%);

        /* Transparent Colour */
    --transbackground: hsla(0, 13%, 6%, 0.184);
}






/* || BACKGROUND BODY || */
/* - Setting margins on either side of the screen to keep neat order throught the site - */
/* - Excluding "NAVIGATION BAR" to enable full screen width on drop down bar - */

.full__body {
    /*background-color: #252525; */
    background: #252525;
    background: var(--gradient);
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}








/* || NAVIGATION BAR || */

/* - ANIMATED SQUARES - */

.logo_outer {
    align-content: center;
    border-radius: 5px;
    border: 4px solid aqua;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    height: 40px;
    margin: 20px;
    width: 40px;
    z-index: 10;

    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo_inner {
    border-radius: 5px;
    border: 4px solid aqua;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    height: 30px;
    justify-self: center;
    width: 30px;
    z-index: 10;

    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

/* .logo_outer:hover {
    /* animation-play-state: running; */
    /* animation-direction: reverse;
} */

@keyframes spin {
    0% {
    }
    100% {
        rotate: 360deg;
    }
}


.logo_whole {
    align-items: center;
    position: absolute;
}

.navbar {
    align-items: center;
    background: #252525;
    background: var(--gradient);

    display: flex;
    font-size: 1.2rem;
    height: 80px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav__container {
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 auto;
    /* max-width: 1800px; */
    padding: 0 50px;
    width: 100%;
    z-index: 1;
}

.nav__menu {
    align-items: center;
    display: flex;
    list-style: none;
    text-align: center;
}

.nav__item {
    height: 80px;
}

.nav__links {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    text-decoration: none;
}



.button {
    align-items: center;
    background: #06ac9e;
    border-radius: 4px;
    display: flex;
    height: 38px;
    justify-content: center;
    outline: none;
    padding: 10px 20px;
    text-decoration: none;
    width: 140px;
    position: absolute;
    right: 5%;
    top: 20%;
}



.button1 {
    align-items: center;
    background: #06ac9e;
    border-radius: 4px;
    color: #fff;
    display: flex;
    height: 36px;
    justify-content: center;
    text-decoration: none;
    width: 100px;

}




/* || MOBILE MENU - NAVIGATION BAR || */

.leftmenu__container__container {
    background: #252525;
}

.leftmenu__container {
    align-items: center;
    background: #474749;
    height: 20px;
    justify-content: center;
    text-decoration: none;
    width: 15%;
    position: sticky;
    transform: translateX(-100%);
    transition: 0.5s;
}

.out {
    transition: all 0.5s;
    transform: translateX(0%);
}

/* || HEADER || */

.header__container {
    justify-content: center;
    align-content: center;
    padding: 40px;
    padding-top: 80px;
}

.header__box {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.main__header__holder {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}










/* || MID - PROJECTS || */

.section__container {
    align-content: center;
    justify-content: center;
    display: flex;
    max-width: 800px;
}

.section__wrapper {
    align-content: center;
    justify-content: center;
    display: flex;
    max-width: 800px;
}


.showcase__box {

    /* background-color: #474749; */
    /*background-color: rgb(41, 59, 61);*/

    display: flex;
    flex: 1 0 300px;
    min-height: 200px;
    margin: var(--margin-s);
    padding: var(--margin-m);
    min-width: 200px;
    background-color: #110d0d2f;
    border-radius: 15px;
    box-shadow: var(--boxshadow90)
}


/* || MID - PROJECTS || */

.mid__body {
    align-content: center;
    justify-content: center;
}

.project__box__spacer {
    height: 100px;
    padding-top: 330px;
    width: 100%;
}

.project__box__container__balan {
    align-content: center;
    display: flex;
    justify-content: center;
}

.project__box__container {
    align-content: center;
    display: flex;
    max-width: 800px;
    justify-content: center;
}

.project__box__options {
    /* background-color: #474749; */
    border-radius: 5px;
    display: flex;
    height: 400px;
    margin: 10px;
    text-decoration: none;
    width: 250px;
    justify-content: center;
    /* box-shadow: var(--boxshadow70) */

    background-color: #110d0d2f;
    border-radius: 15px;
    box-shadow: var(--boxshadow90)
}

@media screen and (min-width: 960px) {

    .project__box__options:not(:hover) { /* This mirror operatation is running as **not** and is for after hover effect */
        /* background-color: #474749; */
        background-color: var(--transbackground);
        height: 400px;
        margin: 10px;
        width: 250px;
        z-index: 101;
        box-shadow: var(--boxshadow90);


        animation-name: box-expand-middle-reverse;
        animation-duration: 0.2s;
    }

    .project__box__options:hover {
        background-color: var(--transbackground);
        height: 410px;
        margin: 5px;
        width: 800px;
        z-index: 101;
        box-shadow: var(--boxshadow90);


        animation-name: box-expand-middle;
        animation-duration: 0.2s;
    }
}

@keyframes box-expand-middle {
    0% {
        width: 250px;
    }
    100% {
        width: 800px;
    }
}

/* The exact mirror of the keyframe above */
@keyframes box-expand-middle-reverse {
    0% {
        width: 800px;
    }
    100% {
        width: 250px;
    }
}

.project__box__selection__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project__box__options__selection {
    background-color: #474749;
    border-radius: 5px;
    display: flex;
    height: 200px;
    margin: 10px;
    width: 200px;
}

.project__box__options__selection:hover {
    background-color: #7a7a7d;
    box-shadow: var(--boxshadow90);
    height: 210px;
    margin: 5px;
    width: 210px;
}











/* || MID - INFO BOX || */

.summary__box {

    border-radius: 5px;
    display: flex;
    height: 410px;
    min-width: 200px;
    max-width: 800px;
    margin: var(--margin-s);
    padding: var(--margin-m);
    background-color: #110d0d2f;
    border-radius: 15px;
    box-shadow: var(--boxshadow90)
}

.summary__container {
    align-content: center;
    display: flex;
    justify-content: center;
}











/* || MOBILE MENU - MID PROJECT  || */

@media screen and (max-width: 960px) {

    .project__box__options {
        background-color: #474749;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        margin: 10px;
        min-width: 170px;
        width: 400px;
        box-shadow: var(--boxshadow70)
    }

    .project__box__options:hover {
        background-color: #7a7a7d;
        height: 210px;
        margin: 5px;
        width: 410px;
    }

    .project__box__spacer {
        height: 100px;
        padding-top: 140px;
        width: 100%;
    }

    .project__box__container {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 300px;
        justify-content: center;
    }

    .project__box__options__selection:hover {
        background-color: #7a7a7d;
        height: 210px;
        margin: 5px;
        width: 210px;
    }

    .summary__box {
        background-color: #474749;
        border-radius: 5px;
        display: flex;
        flex: 1 0 170px;
        height: 410px;
        margin: 10px;
        max-width: 400px;
    }
}



.centeralign {
    align-self: center;
    justify-self: center;
}

/* FONTS BLUE */

.h1-blue35 { font: var(--h1); color: var(--blue35); }
.h2-blue35 { font: var(--h2); color: var(--blue35); }
.h3-blue35 { font: var(--h3); color: var(--blue35); }
.h4-blue35 { font: var(--h4); color: var(--blue35); }
.h5-blue35 { font: var(--h5); color: var(--blue35); }
.big-blue35 { font: var(--big); color: var(--blue35); }
.p-blue35 { font: var(--p); color: var(--blue35); }
.small-blue35 { font: var(--small); color: var(--blue35); }

.h1ui-blue35 { font: var(--h1ui); color: var(--blue35); }
.h2ui-blue35 { font: var(--h2ui); color: var(--blue35); }
.h3ui-blue35 { font: var(--h3ui); color: var(--blue35); }
.h4ui-blue35 { font: var(--h4ui); color: var(--blue35); }
.h5ui-blue35 { font: var(--h5ui); color: var(--blue35); }
.bigui-blue35 { font: var(--bigui); color: var(--blue35); }
.pui-blue35 { font: var(--pui); color: var(--blue35); }
.smallui-blue35 { font: var(--smallui); color: var(--blue35); }

/* FONTS grey 70% */

.h1-grey70 { font: var(--h1); color: var(--grey70); }
.h2-grey70 { font: var(--h2); color: var(--grey70); }
.h3-grey70 { font: var(--h3); color: var(--grey70); }
.h4-grey70 { font: var(--h4); color: var(--grey70); }
.h5-grey70 { font: var(--h5); color: var(--grey70); }
.big-grey70 { font: var(--big); color: var(--grey70); }
.p-grey70 { font: var(--p); color: var(--grey70); }
.small-grey70 { font: var(--small); color: var(--grey70); }

.h1ui-grey70 { font: var(--h1ui); color: var(--grey70); }
.h2ui-grey70 { font: var(--h2ui); color: var(--grey70); }
.h3ui-grey70 { font: var(--h3ui); color: var(--grey70); }
.h4ui-grey70 { font: var(--h4ui); color: var(--grey70); }
.h5ui-grey70 { font: var(--h5ui); color: var(--grey70); }
.bigui-grey70 { font: var(--bigui); color: var(--grey70); }
.pui-grey70 { font: var(--pui); color: var(--grey70); }
.smallui-grey70 { font: var(--smallui); color: var(--grey70); }

/* FONTS grey 90% */

.h1-grey90 { font: var(--h1); color: var(--grey90); }
.h2-grey90 { font: var(--h2); color: var(--grey90); }
.h3-grey90 { font: var(--h3); color: var(--grey90); }
.h4-grey90 { font: var(--h4); color: var(--grey90); }
.h5-grey90 { font: var(--h5); color: var(--grey90); }
.big-grey90 { font: var(--big); color: var(--grey90); }
.p-grey90 { font: var(--p); color: var(--grey90); }
.small-grey90 { font: var(--small); color: var(--grey90); }

.h1ui-grey90 { font: var(--h1ui); color: var(--grey90); }
.h2ui-grey90 { font: var(--h2ui); color: var(--grey90); }
.h3ui-grey90 { font: var(--h3ui); color: var(--grey90); }
.h4ui-grey90 { font: var(--h4ui); color: var(--grey90); }
.h5ui-grey90 { font: var(--h5ui); color: var(--grey90); }
.bigui-grey90 { font: var(--bigui); color: var(--grey90); }
.pui-grey90 { font: var(--pui); color: var(--grey90); }
.smallui-grey90 { font: var(--smallui); color: var(--grey90); }

/* FONTS grey 90% */

.h1-grey80 { font: var(--h1); color: var(--grey80); }
.h2-grey80 { font: var(--h2); color: var(--grey80); }
.h3-grey80 { font: var(--h3); color: var(--grey80); }
.h4-grey80 { font: var(--h4); color: var(--grey80); }
.h5-grey80 { font: var(--h5); color: var(--grey80); }
.big-grey80 { font: var(--big); color: var(--grey80); }
.p-grey80 { font: var(--p); color: var(--grey80); }
.small-grey80 { font: var(--small); color: var(--grey80); }

@media screen and (max-width: 960px) {

    .h1-blue35 { font: var(--h2); color: var(--blue35); }
    .h2-blue35 { font: var(--h3); color: var(--blue35); }
    .h3-blue35 { font: var(--h4); color: var(--blue35); }
    .h4-blue35 { font: var(--h5); color: var(--blue35); }
    .h5-blue35 { font: var(--big); color: var(--blue35); }

        /* FONTS grey 70% */

    .h1-grey70 { font: var(--h2); color: var(--grey70); }
    .h2-grey70 { font: var(--h3); color: var(--grey70); }
    .h3-grey70 { font: var(--h4); color: var(--grey70); }
    .h4-grey70 { font: var(--h5); color: var(--grey70); }
    .h5-grey70 { font: var(--big); color: var(--grey70); }

        /* FONTS grey 90% */

    .h1-grey90 { font: var(--h2); color: var(--grey90); }
    .h2-grey90 { font: var(--h3); color: var(--grey90); }
    .h3-grey90 { font: var(--h4); color: var(--grey90); }
    .h4-grey90 { font: var(--h4); color: var(--grey90); }
    .h5-grey90 { font: var(--big); color: var(--grey90); }
}

@media screen and (max-width: 650px) {
    
    .h1-blue35 { font: var(--h3); color: var(--blue35); }
    .h2-blue35 { font: var(--h4); color: var(--blue35); }
    .h3-blue35 { font: var(--h5); color: var(--blue35); }
    .h4-blue35 { font: var(--big); color: var(--blue35); }
    .h5-blue35 { font: var(--small); color: var(--blue35); }

        /* FONTS grey 70% */

    .h1-grey70 { font: var(--h3); color: var(--grey70); }
    .h2-grey70 { font: var(--h4); color: var(--grey70); }
    .h3-grey70 { font: var(--h5); color: var(--grey70); }
    .h4-grey70 { font: var(--big); color: var(--grey70); }
    .h5-grey70 { font: var(--small); color: var(--grey70); }

        /* FONTS grey 90% */

    .h1-grey90 { font: var(--h3); color: var(--grey90); }
    .h2-grey90 { font: var(--h4); color: var(--grey90); }
    .h3-grey90 { font: var(--h5); color: var(--grey90); }
    .h4-grey90 { font: var(--big); color: var(--grey90); }
    .h5-grey90 { font: var(--small); color: var(--grey90); }
}

/* test */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

