*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none;
}











/* || BACKGROUND BODY || */
/* - Setting margins on either side of the screen to keep neat order throught the site - */
/* - Excluding "NAVIGATION BAR" to enable full screen width on drop down bar - */

.full__body {
    background-color: #252525;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}











/* || NAVIGATION BAR || */

/* - ANIMATED SQUARES - */

.logo_outer {
    align-content: center;
    border-radius: 5px;
    border: 4px solid aqua;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    height: 40px;
    margin: 20px;
    width: 40px;
    z-index: 10;

    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo_inner {
    border-radius: 5px;
    border: 4px solid aqua;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    height: 30px;
    justify-self: center;
    width: 30px;
    z-index: 10;

    animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

/* .logo_outer:hover {
    /* animation-play-state: running; */
    /* animation-direction: reverse;
} */

@keyframes spin {
    0% {
    }
    100% {
        rotate: 360deg;
    }
}











/* ANIMATED BIGGER SQUARES */
/* BIG VERSIONS -- COMING SOON PAGE */

.square__big {
    align-content: center;
    border-radius: 8px;
    border: 8px solid aqua;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    height: 200px;
    margin-top: 60px;
    width: 200px;
    z-index: 10;

    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
    animation-timing-function: linear;
}

.square__big__small {
    border-radius: 15px;
    border: 8px solid aqua;
    box-shadow: 0 0 8px aqua, 0 0 8px aqua inset;
    height: 150px;
    justify-self: center;
    width: 150px;
    z-index: 10;

    animation-name: spin;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
    animation-timing-function: linear;
    animation-direction: reverse;
}











.logo_whole {
    align-items: center;
    position: absolute;



}

.navbar {
    align-items: center;
    background: #252525;
    display: flex;
    font-size: 1.2rem;
    height: 80px;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav__container {
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 auto;
    /* max-width: 1800px; */
    padding: 0 50px;
    width: 100%;
    z-index: 1;
}

/* TEMP REDUNDENT
#nav__logo {
    align-items: center;
    background-color: #06ac9e;
    background-image: linear-gradient(to top, #cbfdf9 0%, #007e74 100%);
    background-size: 100%;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    text-decoration: none;
    -moz-background-clip: text;
    -moz-text-fill-colour: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.fa-gem {
    margin-right: 0.5rem;
}

.nav__menu {
    align-items: center;
    display: flex;
    list-style: none;
    text-align: center;
}

.nav__item {
    height: 80px;
}

.nav__links {
    align-items: center;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    text-decoration: none;
}

.nav__btn {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    align-items: center;
    background: #06ac9e;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: flex;
    height: 38px;
    justify-content: center;
    outline: none;
    padding: 10px 20px;
    text-decoration: none;
    width: 100px;
    position: absolute;
    right: 5%;
    top: 20%;
}



.button1 {
    align-items: center;
    background: #06ac9e;
    border-radius: 4px;
    color: #fff;
    display: flex;
    height: 36px;
    justify-content: center;
    text-decoration: none;
    width: 100px;

}

.hoverball {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background: #06ac9e;
    box-shadow: 0 0 2px #02e2cf;
    justify-items: center;
}

.hoverballs:not(:hover) {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background: #06ac9e;
    justify-items: center;
    transition: 0.5s;
}

.hoverballs:hover {
    position: relative;
    margin-top: 30%;
    width: 100px;
    height: 20px;
    border-radius: 8px;
    background: #06ac9e;
    box-shadow: 0 0 2px #06ac9e;
    transition: 0.5s;
}






/* || NAVIGATION BAR - HOVER ANIMATIONS || */


.nav__links:hover {
    color: #007e74;
    transition: all 0.3s ease;
}

.scalehover:hover {
    transform: scale(1.1);
    transition: 0.2s transform ease-in-out;
}

.scalehover:not(:hover) {
    transform: scale(1);
    transition: 0.2s transform ease-in-out;
}










/* || MOBILE MENU - NAVIGATION BAR || */


.nav__container {
    height: 80px;
    max-width: 1440px;
    padding: 0;
    width: 100%;
    z-index: 1;
}

.nav__menu {
    display: grid;
    grid-template-columns: auto;
    height: 50vh;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: -1000px;
    transition: all 0.5s ease;
    width: 100%;
    z-index: -1;
}

.nav__menu.active {
    background: #252525;
    font-size: 1.6rem;
    height: 50vh;
    opacity: 1;
    top: 100%;
    transition: all 0.5s ease;
    z-index: 99;
}

.nav__toggle .bar {
    background: #fff;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    width: 25px;
}

.nav__item {
    width: 100%;
}

.nav__links {
    display: table;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

#mobile-menu {
    position: absolute;
    left: 5%;
    top: 20%;
    transform: translate(5%, 20%);
}

.nav__toggle .bar {
    cursor: pointer;
    display: block;
}

.nav__btn {
    padding-top: 12px;
}


/* - Animations with js for drop down nav bar */

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translate(0px, 8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translate(0px, -8px) rotate(-45deg);
}











/* || MOBILE MENU - NAVIGATION BAR || */

.leftmenu__container__container {
    background: #252525;
}

.leftmenu__container {
    align-items: center;
    background: #474749;
    height: 20px;
    justify-content: center;
    text-decoration: none;
    width: 15%;
    position: sticky;
    transform: translateX(-100%);
    transition: 0.5s;
}


/*
.leftmenu__container {
    height: 100%;
    width: 50px;
    position: sticky;
    z-index: 999;
    color: #728342;

}
*/


.out {
    transition: all 0.5s;
    transform: translateX(0%);
}






/*@media screen and (max-width: 960px) {

    .nav__container {
        display: flex;
        height: 80px;
        justify-content: space-between;
        max-width: 1800px;
        padding: 0;
        width: 100%;
        z-index: 1;
    }

    .nav__menu {
        display: grid;
        grid-template-columns: auto;
        height: 50vh;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        width: 100%;
        z-index: -1;
    }

    .nav__menu.active {
        background: #252525;
        font-size: 1.6rem;
        height: 50vh;
        opacity: 1;
        top: 100%;
        transition: all 0.5s ease;
        z-index: 99;
    }

    .nav__toggle .bar {
        background: #fff;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        width: 25px;
    }

    .nav__item {
        width: 100%;
    }

    .nav__links {
        display: table;
        padding: 2rem;
        text-align: center;
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        right: 5%;
        top: 20%;
        transform: translate(5%, 20%);
    }

    .nav__btn {
        padding-bottom: 2rem;
    }

    .button {
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: center;
        margin: 0;
        width: 80%;
    }

    .nav__toggle .bar {
        cursor: pointer;
        display: block;
    }

    /* - Animations with js for drop down nav bar */
/*
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(0px, 8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(0px, -8px) rotate(-45deg);
    }
}*/










/* || HEADER || */

.header__container {
    justify-content: center;
    padding: 80px;
}

.header__box {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.main__header__holder {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*@media screen and (max-width: 960px) {

    .header__body {
        height: 200px;
    }

}
@media screen and (min-width: 960px) {

    .header__body {
        height: 300px;
    }

}*/









/* || MID - PROJECTS || */

.showcase__box {
    width: 781px;
    height: 200px;
    background-color: #474749;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 2px #7a7a7d;
}

.showcase__box__internal__left {
    width: 320px;
    height: 160px;
    border-radius: 5px;
    border: 4px solid #06ac9e;
    box-shadow: 0 0 2px #02e2cf, 0 0 2px #02e2cf inset;
    justify-self: left;
}

.showcase__box__internal__right {
    width: 320px;
    height: 160px;
    border-radius: 5px;
    border: 4px solid #06ac9e;
    box-shadow: 0 0 2px #02e2cf, 0 0 2px #02e2cf inset;
    justify-self: right;
}


/* || MID - PROJECTS || */

.mid__body {
    align-content: center;
    justify-content: center;
}

.project__box__spacer {
    height: 100px;
    padding-top: 330px;
    width: 100%;
}

.project__box__container__balan {
    align-content: center;
    display: flex;
    justify-content: center;
}

.project__box__container {
    align-content: center;
    display: flex;
    max-width: 800px;
    justify-content: center;
}

.project__box__options {
    background-color: #474749;
    border-radius: 5px;
    display: flex;
    height: 400px;
    margin: 10px;
    text-decoration: none;
    width: 250px;
    justify-content: center;
}
/* redundant as replaced by the code below it

.project__box__options:hover {
    background-color: #7a7a7d;
    height: 410px;
    margin: 5px;
    width: 260px;
    z-index: 101;
}

*/

@media screen and (min-width: 960px) {

    .project__box__options:not(:hover) { /* This mirror operatation is running as **not** and is for after hover effect */
        background-color: #474749;
        height: 400px;
        margin: 10px;
        width: 250px;
        z-index: 101;


        animation-name: box-expand-middle-reverse;
        animation-duration: 0.2s;
        box-shadow: 0 0 2px #7a7a7d;
    }

    .project__box__options:hover {
        background-color: #7a7a7d;
        height: 410px;
        margin: 5px;
        width: 800px;
        z-index: 101;


        animation-name: box-expand-middle;
        animation-duration: 0.2s;
        box-shadow: 0 0 2px #7a7a7d;
    }
}

@keyframes box-expand-middle {
    0% {
        width: 250px;
    }
    100% {
        width: 800px;
    }
}

/* The exact mirror of the keyframe above */
@keyframes box-expand-middle-reverse {
    0% {
        width: 800px;
    }
    100% {
        width: 250px;
    }
}

.project__box__selection__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project__box__options__selection {
    background-color: #474749;
    border-radius: 5px;
    display: flex;
    height: 200px;
    margin: 10px;
    width: 200px;
}

.project__box__options__selection:hover {
    background-color: #7a7a7d;
    height: 210px;
    margin: 5px;
    width: 210px;
}











/* || MID - INFO BOX || */

.summary__box {
    background-color: #474749;
    border-radius: 5px;
    display: flex;
    flex: 1 0 300px;
    height: 410px;
    margin: 10px;
    max-width: 780px;
}

.summary__container {
    align-content: center;
    display: flex;
    justify-content: center;
}











/* || MOBILE MENU - MID PROJECT  || */

@media screen and (max-width: 960px) {

    .project__box__options {
        background-color: #474749;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        height: 200px;
        margin: 10px;
        min-width: 170px;
        width: 400px;
    }

    .project__box__options:hover {
        background-color: #7a7a7d;
        height: 210px;
        margin: 5px;
        width: 410px;
    }

    .project__box__spacer {
        height: 100px;
        padding-top: 140px;
        width: 100%;
    }

    .project__box__container {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 300px;
        justify-content: center;
    }

    .project__box__options__selection:hover {
        background-color: #7a7a7d;
        height: 210px;
        margin: 5px;
        width: 210px;
    }

    .summary__box {
        background-color: #474749;
        border-radius: 5px;
        display: flex;
        flex: 1 0 170px;
        height: 410px;
        margin: 10px;
        max-width: 400px;
    }
}

.h1 {
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 64px;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;

 /*   align-items: center;
    font-weight: bold;
    color: #fff;
    display: flex;
    font-size: 64px;
    justify-content: center;
    box-shadow: 0 0 8cm #02e2cf;
    background: rgb(32, 107, 101, 0.5); /* Fallback for older browsers without RGBA-support
    background: rgba(32, 107, 101, 0.);*/

}

.h2 {
    align-items: center;
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 24px;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}







/* || TYPO || */


#small__text__size {
    align-items: center;
    background-color: #06ac9e;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}

#big__text__size {
    align-items: center;
    font-weight: bold;
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 64px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}

#medium__text__size {
    align-items: center;
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    display: flex;
    font-size: 24px;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}

/* #big__text__size:hover {
    background-color: aqua;
    transition: all 3s ease-in-out;
} */

#optboxlink {
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-decoration: none;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
}

@media screen and (max-width: 960px) {
    #big__text__size {
        align-items: center;
        background-color: #fff;
        background-image: #fff;
        background-size: 100%;
        display: flex;
        font-size: 64px;
        justify-content: center;
        text-decoration: none;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-colour: transparent;
    }
}


/* test */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

/* | test | */

/* .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
 */

/* #main {
    transition: margin-left .5s;
    padding: 16px;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidebar {padding-top: 80px;}
    .sidebar a {font-size: 18px;}
}

.open {
    width: 250px;
} */


/* TESTING MORE */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #252525;
    padding-top: 80px;
    transition: all 0.5s ease;

}

.sidebar.active ~ .full__body {
    left: 250px;
    width: calc(100%-250px);

}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 4rem;
    left: 50%;
    font-size: 1.2rem;
    z-index: 999;
    transform: translate(-50%);
    line-height: 50px;
    cursor: pointer;
}

.top {
    padding-left: 30px;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo {
    font-size: 2rem;
    margin-right: 5px;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;

    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    z-index: 998;

}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    z-index: 998;
}

.sidebar ul li a:hover {
    background-color: #7a7a7d;
    color: #06ac9e;
    text-decoration: none;
}

.bx {
    scale: 2;

}

.sidebar ul li a i {
    min-width: 70px;
    text-align: center;
    height: 50px;
    border-radius: 4px;
    line-height: 50px;
    text-decoration: none;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

/* .sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem #252525 (0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;

}


.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display:none;
} */










