*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.header__container {
    padding-top: 5rem;
    justify-content: center;

}

#small__text__size {
    background-color: #06ac9e;
    background-image: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
}

#big__text__size {
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 4rem;
    padding-left: 5px;
    padding-right: 5px
}

#medium__text__size {
    background-color: #06ac9e;
    background-image: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2rem;
}

#big__text__size:hover {
    background-color: aqua;
    transition: all 3s ease-in-out;
}

#optboxlink {
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colour: transparent;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}


@media screen and (max-width: 960px) {
    #big__text__size {
        background-color: #fff;
        background-image: #fff;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-colour: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 4rem;
    }
}